.addFolder__div {
    color: #dedede;
  }
  
  .addFolder__div h2 {
    margin-left: 16px;
  }

  input {
    width: 50%;
  }

  .errorValidation {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .buttons {
    display: flex;

  }

